In [1]:
import urllib
import os
import csv
import codecs
import pandas as pd
import numpy as np
from datetime import timedelta

In [2]:
#initial_date = '2018-01-01'
#initial_date = pd.to_datetime(initial_date)
#final_date = initial_date + timedelta(days = 5)
#print(final_date)

In [3]:
initial_date = '2018-01-01'
final_date = '2018-01-01'
url = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/New%20York/" + initial_date + "/" + final_date + "?unitGroup=metric&include=hours&key=HB4HE49PF5XCRSEHAULTVM73D&contentType=csv"

In [4]:
try:
    #ResultBytes = urllib.request.urlopen("https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/New%20York/2018-01-01/2018-01-01?unitGroup=metric&include=hours&key=HB4HE49PF5XCRSEHAULTVM73D&contentType=csv")
    ResultBytes = urllib.request.urlopen(url)
    CSVText = csv.reader(codecs.iterdecode(ResultBytes, 'utf-8'))
    # Parse the results as CSV
    CSVText = csv.reader(codecs.iterdecode(ResultBytes, 'utf-8'))
    # Parse the results as JSON
    #jsonData = json.loads(ResultBytes.decode('utf-8'))
except urllib.error.HTTPError  as e:
  ErrorInfo= e.read().decode() 
  print('Error code: ', e.code, ErrorInfo)
  sys.exit()
except  urllib.error.URLError as e:
  ErrorInfo= e.read().decode() 
  print('Error code: ', e.code,ErrorInfo)
  sys.exit()

In [5]:
a = []

In [6]:
for i in CSVText:
  a.append(i)

In [26]:
type(a[0])

list

In [7]:
a[0]

['name',
 'datetime',
 'temp',
 'feelslike',
 'dew',
 'humidity',
 'precip',
 'precipprob',
 'preciptype',
 'snow',
 'snowdepth',
 'windgust',
 'windspeed',
 'winddir',
 'sealevelpressure',
 'cloudcover',
 'visibility',
 'solarradiation',
 'solarenergy',
 'uvindex',
 'severerisk',
 'conditions',
 'icon',
 'stations']

In [8]:
# Crear dataframe y columnas
df = pd.DataFrame()

In [10]:
for idx, i in enumerate(a[0]):
    df[i] = a[1][idx]

In [11]:
df.head()

Empty DataFrame
Columns: [name, datetime, temp, feelslike, dew, humidity, precip, precipprob, preciptype, snow, snowdepth, windgust, windspeed, winddir, sealevelpressure, cloudcover, visibility, solarradiation, solarenergy, uvindex, severerisk, conditions, icon, stations]
Index: []

[0 rows x 24 columns]

In [19]:
a[1]

['New York, NY, United States',
 '2018-01-01T00:00:00',
 '-12.6',
 '-20.8',
 '-19.7',
 '55.55',
 '0',
 '',
 '',
 '0',
 '0',
 '31.7',
 '18.2',
 '312',
 '1026.5',
 '4.4',
 '16',
 '',
 '',
 '',
 '',
 'Clear',
 'clear-night',
 '72505394728,KEWR,KLGA,72502014734,KNYC,72503014732']

In [23]:
df.loc[2] = a[2]

In [24]:
df

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
1,"New York, NY, United States",2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,...,1026.5,4.4,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
2,"New York, NY, United States",2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,...,1026.7,0,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."

In [102]:
# Agregar los registros al dataframe
first = False
for idx, i in enumerate(a):
    if first:
        df.loc[idx] = i
    else:
        first = True

In [103]:
df.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
1,"New York, NY, United States",2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,...,1026.5,4.4,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
2,"New York, NY, United States",2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,...,1026.7,0,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
3,"New York, NY, United States",2018-01-01T02:00:00,-12.7,-21.1,-19.7,55.91,0,,,0,...,1026.9,0,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
4,"New York, NY, United States",2018-01-01T03:00:00,-13.2,-21.2,-19.7,58,0,,,0,...,1027.3,0,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
5,"New York, NY, United States",2018-01-01T04:00:00,-13.3,-20.9,-20.2,56.1,0,,,0,...,1027.3,0,16,,,,,Clear,clear-night,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 1 to 744
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              744 non-null    object
 1   datetime          744 non-null    object
 2   temp              744 non-null    object
 3   feelslike         744 non-null    object
 4   dew               744 non-null    object
 5   humidity          744 non-null    object
 6   precip            744 non-null    object
 7   precipprob        744 non-null    object
 8   preciptype        744 non-null    object
 9   snow              744 non-null    object
 10  snowdepth         744 non-null    object
 11  windgust          744 non-null    object
 12  windspeed         744 non-null    object
 13  winddir           744 non-null    object
 14  sealevelpressure  744 non-null    object
 15  cloudcover        744 non-null    object
 16  visibility        744 non-null    object
 17  solarradiation    744 non-null    object
 18  solarenergy       744 non-null    object
 19  uvindex           744 non-null    object
 20  severerisk        744 non-null    object
 21  conditions        744 non-null    object
 22  icon              744 non-null    object
 23  stations          744 non-null    object
dtypes: object(24)
memory usage: 145.3+ KB

Elimminar columnas "Nombre" y "station" pues no sirven para nuestro analisis

In [51]:
df.drop(['name','stations'], axis=1,inplace=True)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 1 to 744
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          744 non-null    object
 1   temp              744 non-null    object
 2   feelslike         744 non-null    object
 3   dew               744 non-null    object
 4   humidity          744 non-null    object
 5   precip            744 non-null    object
 6   precipprob        744 non-null    object
 7   preciptype        744 non-null    object
 8   snow              744 non-null    object
 9   snowdepth         744 non-null    object
 10  windgust          744 non-null    object
 11  windspeed         744 non-null    object
 12  winddir           744 non-null    object
 13  sealevelpressure  744 non-null    object
 14  cloudcover        744 non-null    object
 15  visibility        744 non-null    object
 16  solarradiation    744 non-null    object
 17  solarenergy       744 non-null    object
 18  uvindex           744 non-null    object
 19  severerisk        744 non-null    object
 20  conditions        744 non-null    object
 21  icon              744 non-null    object
dtypes: object(22)
memory usage: 133.7+ KB

In [53]:
df.head()

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon
1,2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,0.68,...,312,1026.5,4.4,16,,,,,Clear,clear-night
2,2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,0.6,...,306,1026.7,0,16,,,,,Clear,clear-night
3,2018-01-01T02:00:00,-12.7,-21.1,-19.7,55.91,0,,,0,0.51,...,302,1026.9,0,16,,,,,Clear,clear-night
4,2018-01-01T03:00:00,-13.2,-21.2,-19.7,58,0,,,0,0.43,...,308,1027.3,0,16,,,,,Clear,clear-night
5,2018-01-01T04:00:00,-13.3,-20.9,-20.2,56.1,0,,,0,0.34,...,306,1027.3,0,16,,,,,Clear,clear-night

Cambiaremos el contenido de la columna "icon" especificando unicamente si es de dia o de noche

In [54]:
def day_night(icon):
    return icon.split('-')[-1]

In [55]:
df.icon = df.icon.apply(day_night)

In [56]:
df.head()

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon
1,2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,0.68,...,312,1026.5,4.4,16,,,,,Clear,night
2,2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,0.6,...,306,1026.7,0,16,,,,,Clear,night
3,2018-01-01T02:00:00,-12.7,-21.1,-19.7,55.91,0,,,0,0.51,...,302,1026.9,0,16,,,,,Clear,night
4,2018-01-01T03:00:00,-13.2,-21.2,-19.7,58,0,,,0,0.43,...,308,1027.3,0,16,,,,,Clear,night
5,2018-01-01T04:00:00,-13.3,-20.9,-20.2,56.1,0,,,0,0.34,...,306,1027.3,0,16,,,,,Clear,night

In [57]:
mask = ['temp','dew']

In [58]:
f = df[:][mask]

In [59]:
f

      temp    dew
1    -12.6  -19.7
2    -12.6  -19.6
3    -12.7  -19.7
4    -13.2  -19.7
5    -13.3  -20.2
..     ...    ...
740      0  -12.7
741      0    -12
742   -0.1    -11
743   -0.1   -9.3
744   -0.1   -8.9

[744 rows x 2 columns]

La tabla de hechos sera df como weather y separaremos las columnas "condition" y "icon" para crear 2 dimensiones; condition y icon, respectivamente.

In [88]:
condition = pd.read_csv('datasets/conditions_weather.csv')

In [89]:
condition = condition.reset_index()

In [62]:
#condition['condicion'] = df.conditions.unique()

In [90]:
condition.head()

   index        id               desc
0      0       sky          Sky cover
1      1      wdir     Wind direction
2      2      temp        Temperature
3      3       dew          Dew Point
4      4  humidity  Relative Humidity

In [64]:
icon ={
    0: 'night',
    1: 'day'
}
icon = pd.DataFrame([[key, icon[key]] for key in icon.keys()], columns=['Idcondicion', 'condicion'])

In [65]:
icon.head()

   Idcondicion condicion
0            0     night
1            1       day

Reemplazar los valores de tabla main por los valores de id en las tablas dimensionales

In [66]:
(icon[icon.condicion == 'night'].index)[0]

0

In [91]:
def estado (i, idx):
    if type(i) == str:
        s = i.split('-')[-1]
        try:
            return (icon.Idcondicion[icon.condicion == s].index[0])
        except:
            return df.icon.iloc[idx-1][0]
    else:
        return i
        
def cond (i):
    s = i.split('-')[-1]
    s = s.lower()
    return (condition[condition.id == s].index[0])

In [68]:
df.head()

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon
1,2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,0.68,...,312,1026.5,4.4,16,,,,,Clear,night
2,2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,0.6,...,306,1026.7,0,16,,,,,Clear,night
3,2018-01-01T02:00:00,-12.7,-21.1,-19.7,55.91,0,,,0,0.51,...,302,1026.9,0,16,,,,,Clear,night
4,2018-01-01T03:00:00,-13.2,-21.2,-19.7,58,0,,,0,0.43,...,308,1027.3,0,16,,,,,Clear,night
5,2018-01-01T04:00:00,-13.3,-20.9,-20.2,56.1,0,,,0,0.34,...,306,1027.3,0,16,,,,,Clear,night

In [71]:
df.icon[df.icon != 'night']

9         day
10        day
11        day
12        day
13        day
        ...
734       day
735       day
736       day
737       day
738    cloudy
Name: icon, Length: 468, dtype: object

In [92]:
#df.icon = df.icon.apply(estado)
for idx, value in enumerate(df.icon):
    print(idx)
    df.icon.iloc[idx] = estado(value, idx)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

IndexError: invalid index to scalar variable.

In [93]:
df.iloc[33]

datetime            2018-01-02T09:00:00
temp                               -9.8
feelslike                         -18.1
dew                               -16.7
humidity                          57.17
precip                                0
precipprob
preciptype
snow                               0.96
snowdepth                          0.96
windgust                           34.9
windspeed                          23.1
winddir                             256
sealevelpressure                 1030.4
cloudcover                         14.1
visibility                           16
solarradiation                      109
solarenergy                         0.4
uvindex                               1
severerisk
conditions                        Clear
icon                               snow
Name: 34, dtype: object

In [ ]:
df.head(
    
)

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon
1,2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,0,...,312,1026.5,4.4,16,,,,,Clear,0
2,2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,0,...,306,1026.7,0,16,,,,,Clear,0
3,2018-01-01T02:00:00,-12.7,-21.1,-19.7,55.91,0,,,0,0,...,302,1026.9,0,16,,,,,Clear,0
4,2018-01-01T03:00:00,-13.2,-21.2,-19.7,58,0,,,0,0,...,308,1027.3,0,16,,,,,Clear,0
5,2018-01-01T04:00:00,-13.3,-20.9,-20.2,56.1,0,,,0,0,...,306,1027.3,0,16,,,,,Clear,0

In [ ]:
df.conditions = df.conditions.apply(cond)

In [ ]:
df.head()

,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,snowdepth,...,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon
1,2018-01-01T00:00:00,-12.6,-20.8,-19.7,55.55,0,,,0,0,...,312,1026.5,4.4,16,,,,,106,0
2,2018-01-01T01:00:00,-12.6,-20.9,-19.6,55.97,0,,,0,0,...,306,1026.7,0,16,,,,,106,0
3,2018-01-01T02:00:00,-12.7,-21.1,-19.7,55.91,0,,,0,0,...,302,1026.9,0,16,,,,,106,0
4,2018-01-01T03:00:00,-13.2,-21.2,-19.7,58,0,,,0,0,...,308,1027.3,0,16,,,,,106,0
5,2018-01-01T04:00:00,-13.3,-20.9,-20.2,56.1,0,,,0,0,...,306,1027.3,0,16,,,,,106,0

Cambiamos todos los tipos de dato a strings

In [ ]:
for i in df:
    print(i)

datetime
temp
feelslike
dew
humidity
precip
precipprob
preciptype
snow
snowdepth
windgust
windspeed
winddir
sealevelpressure
cloudcover
visibility
solarradiation
solarenergy
uvindex
severerisk
conditions
icon

In [ ]:
for i in df:
    df[i] = df[i].astype('string')

In [ ]:
icon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Idcondicion  2 non-null      int64
 1   condicion    2 non-null      object
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

In [ ]:
condition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   127 non-null    int64
 1   id      127 non-null    object
 2   desc    127 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [ ]:
for columna in icon:
    icon[columna] = icon[columna].astype('string')
for columna in condition:
    condition[columna] = condition[columna].astype('string')

Crear todos los csv de weather, icon y condition.

In [72]:
#df.to_csv('weather.csv')
#icon.to_csv('icono.csv')
#condition.to_csv('condicion.csv')